<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- 
CREATE OR PLACE VIEW v_TEAM(ID, TEAMNO, ISTEAMLEADER, PLANNO, TEAMNAME)
AS
SELECT ID, TEAMNO, ISTEAMLEADER, PLANNO, TEAMNAME
FROM TEAM
 -->
 
<!-- 
CREATE OR PLACE VIEW v_PLAN(PLANNO, TEAMNO, PLANNAME)
AS
SELECT PLANNO, TEAMNO, PLAN
 -->
<mapper namespace="com.spring.jamplan.myroom">
	<resultMap type="TeamVO" id="teamResultMap">
		<result property="teamNo" column="teamNo" />
		<result property="planNo" column="planNo" />
		<result property="id" column="id" />
		<result property="teamName" column="teamName" />
		<result property="role" column="role" />
		<result property="isTeamLeader" column="isTeamLeader" />
		<result property="chatTime" column="chatTime" />
	</resultMap>
	
	<resultMap type="PlanVO" id="planResultMap">
		<result property="planNo" column="planNo" />
		<result property="teamNo" column="teamNo" />
		<result property="goodCount" column="goodCount" />
		<result property="readCount" column="readCount" />
		<result property="isOpen" column="isOpen" />
		<result property="planName" column="planName" />
		<result property="hashTag" column="hashTag" />
		<result property="planDate" column="planDate" />
	</resultMap>
	
	<resultMap type="UserVO" id="userResultMap">
		<result property="id" column="id" />
		<result property="email" column="email" />
		<result property="pass" column="pass" />
		<result property="idAdmin" column="idAdmin" />
		<result property="signDate" column="signDate" />
		<result property="nation" column="nation" />
		<result property="gender" column="gender" />
		<result property="age" column="age" />
		<result property="snsSite" column="snsSite" />
		<result property="travelType" column="travelType" />
		<result property="image" column="image" />
		<result property="hobby" column="hobby" />
	</resultMap>
	
	<resultMap type="MessageVO" id="messageResultMap">
		<result property="id" column="id" />
		<result property="sendId" column="sendId" />
		<result property="messageContent" column="messageContent" />
		<result property="isInvited" column="isInvited" />
		<result property="isRead" column="isRead" />
	</resultMap> 
	
	<select id="getTeamList" parameterType="com.spring.jamplan.model.UserVO" resultMap="teamResultMap">
		select * from team where id=#{id javaType=String }
	</select>
	
	<select id="getPlanList" parameterType="com.spring.jamplan.model.UserVO" resultMap="planResultMap">
		select * from plan where teamNo = (select teamNo from v_team where id=#{id javaType=String })
	</select>
	
	<select id="getConfirmedDate" parameterType="com.spring.jamplan.model.CalendarVO" resultType="DateFormat">
		select confirmedDate from calendar where id=#{id javaType=String } and planNo=#{planNo javaType=String } and isConfirmed=1	
	</select>
	
	<select id="getUserInfo" parameterType="String" resultMap="userResultMap">
		select * from userInfo where id=#{id javaType=String }
	</select>
	
	<select id="getMessageList" parameterType="com.spring.jamplan.model.UserVO" resultMap="messageResultMap">
		select * from message where id=#{id javaType=String} order by sendId
	</select>
	
	<select id="searchTeam" parameterType="String" resultMap="teamResultMap">
		select * from team where teamName=#{teamName javaType=String }
	</select>
	
	<insert id="makePlan" parameterType="com.spring.jamplan.model.PlanVO" insert=>
		insert into plan(planNo, teamNo, planName, planDate) into (#{planNo javaType=int }, 
			#{teamNo javaType=int }, #{planName javaType=String }, #{planDate javaType=dateFormat })
	</insert>
	
	<delete id="deleteTeam" parameterType="com.spring.jamplan.model.TeamVO">
		delete from team where teamName=#{teamName javaType=String }
	</delete> 
	
	<delete id="deletePlan" parameterType="com.spring.jamplan.model.PlanVO">
		delete from plan where planNo=#{planNo javaType=int }
	</delete>
	
	 
	
	
</mapper>