<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper
	namespace="com.spring.jamplan2.plan.PlanMapper">
	
	<resultMap type="PlanTableVO" id="planTableMap">
		<result property="calendar" column="calendar" />
		<result property="map" column="map" />
	</resultMap>
	
	<select id="planTable" parameterType="com.spring.jamplan2.plan.PlanTableVO" resultMap="planTableMap">
		select * from planTable
	</select>
	
	<insert id="insertPlanTable" parameterType="com.spring.jamplan2.plan.PlanTableVO">
		insert into planTable(calendar, map) values('test', 'test')
	</insert>
	
	<update id="savePlanTable" parameterType="com.spring.jamplan2.plan.PlanTableVO">
		update planTable set memo = #{memo, jdbcType=VARCHAR}
	</update>

	
</mapper>
