<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper
	namespace="com.spring.jamplan2.plan.PlanMapper">
	
	<resultMap type="PlanTableVO" id="planTableMap">
		<result property="calendar" column="calendar" />
		<result property="map" column="map" />
	</resultMap>
	
	<resultMap type="PlanCalendarVO" id="planCalendarMap">
		<result property="calendar" column="calendar" />
	</resultMap>
	
	<resultMap type="PlanMapVO" id="planMapMap">
		<result property="map" column="map" />
	</resultMap>
	
	
	
	<select id="getplanTable" parameterType="com.spring.jamplan2.plan.PlanTableVO" resultMap="planTableMap">
		select * from planTable
	</select>
	
	<insert id="insertPlanTable" parameterType="com.spring.jamplan2.plan.PlanTableVO">
		insert into planTable(calendar, map) values('test', 'test')
	</insert>
	
	<update id="savePlanTable" parameterType="com.spring.jamplan2.plan.PlanTableVO">
		update planTable set memo = #{memo, jdbcType=VARCHAR}
	</update>
	
	<!--  -->
	<select id="getPlanCalendar" parameterType="com.spring.jamplan2.plan.PlanCalendarVO" resultMap="planCalendarMap">
		select * from planCalendar
	</select>
	
	<select id="getPlanMap" parameterType="com.spring.jamplan2.plan.PlanMapVO" resultMap="planMapMap">
		select * from planMap
	</select>
	
	<insert id="insertPlanCalendar" parameterType="com.spring.jamplan2.plan.PlanCalendarVO">
		insert into planTable(calendar)(select calendar from planCalendar) 
	</insert>
	
	<update id="updatePlanMap" parameterType="com.spring.jamplan2.plan.PlanMapVO">
		update planTable set map = (select map from planMap)
	</update>
	
	
</mapper>
