<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper
	namespace="com.spring.jamplan2.plan.PlanMapper">
	
	<resultMap type="PlanTableVO" id="planTableMap">
		<result property="calendar" column="calendar" />
		<result property="map" column="map" />
	</resultMap>
	
	<!-- Calendar 테이블 쓰려한거.
	<resultMap type="PlanCalendarVO" id="planCalendarMap">
		<result property="planNo" column="planNo" />
		<result property="calendar" column="calendar" />
	</resultMap> -->
	
	<resultMap type="PlanMapVO" id="planMapMap">
		<result property="planNo" column="planNo" />
		<result property="map" column="map" />
	</resultMap>
	
	
	
	<select id="getplanTable" parameterType="com.spring.jamplan2.plan.PlanTableVO" resultMap="planTableMap">
		select * from planTable order by calendar
	</select>
	
	
	<!--  -->
	<!-- Calendar 테이블 쓰려한거.
	<select id="getPlanCalendar" parameterType="com.spring.jamplan2.plan.PlanCalendarVO" resultMap="planCalendarMap">
		select * from planCalendar where planNo = #{planNo, jdbcType=INTEGER}
	</select> -->
	
	<select id="getPlanMap" parameterType="com.spring.jamplan2.plan.PlanMapVO" resultMap="planMapMap">
		select * from planMap where planNo = #{planNo, jdbcType=INTEGER} order by calendar
	</select>
	 
	 <insert id="insertPlanTable" parameterType="com.spring.jamplan2.plan.PlanTableVO">
	 	insert into planTable(calendar,map) values(#{calendar, jdbcType=VARCHAR}, #{map, jdbcType=VARCHAR})
	 </insert>
	
	<update id="savePlanTable" parameterType="com.spring.jamplan2.plan.PlanTableVO">
		update planTable set memo = #{memo, jdbcType=VARCHAR} where map = #{map, jdbcType=VARCHAR})
	</update>

</mapper>
